.search-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;

    // .search-bar {
    //     width: 100%;
    // }
    .explanation {
        margin-top: 20px;
        width: 250px;
    }

    .results-section {
        display: flex;
        flex-flow: row wrap;
        margin-top: 30px;
    }
}