.music-result-card {
    display: inline-block;
    width: 50%;
    margin: 8px 15px;
   

    .ant-card-body {
        padding: 10px;
    }

    .ant-card-cover > * {
        display: block;
    }

    .ant-card-meta-detail, .ant-card-meta-title {
        white-space: initial;
    }

    .ant-card-meta-title {
        height: 60px;
    }

    .audio {
        width: 100%;
    }

}

@media only screen and (min-width: 350px) {
    .music-result-card {
        width: 40%;
    }
}

@media only screen and (min-width: 500px) {
    .music-result-card {
        width: 25%;
    }
}

@media only screen and (min-width: 700px) {
    .music-result-card {
        width: 160px;
    }
}