.user-music-section {

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ababab; 
    }

    ::-webkit-scrollbar-thumb {
        background: #7d7d7d; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .ant-tabs {
        color: white;

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: #639cff;
        }

        .ant-tabs-tab {
            font-size: 1.1rem;
        }
    
        .ant-tabs-ink-bar {
            background: white;
        }

        .ant-tabs-content-holder {
            height: 200px;
            overflow-y: auto;
        }
    }

    .sub-section {
        display: flex;
        flex-flow: row wrap;
    }

    .artists-section {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 554px) {

    .user-music-section{
        display: flex;
        justify-content: center;
        width: 100%;
       

        .ant-tabs {
            width: 500px;
        }
    }


}