.friends-section {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ababab; 
    }

    ::-webkit-scrollbar-thumb {
        background: #7d7d7d; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .title {
        font-size: 1.45rem;
        font-weight: 600;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

        .icon {
            filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
            margin-left: 10px;
            margin-bottom: 3px;
        }
    }

    .card-section {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        height: 200px;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 554px) {
    .friends-section {
        .card-section {
            width: 500px;
        }
    }
    
}