@import '~antd/dist/antd.css';

body {
  background-color: #292A37; 
  font-family: 'Oswald', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.page {
  padding: 30px 5% 15px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}


.ant-menu {
  font-size: 1rem;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: #383838; 
}
  
// Submenu selected header color
.ant-menu-item-selected {
  color: white;
}
  
// Submenu background color
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #242424;;
}
  
// Submenu hover header color
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
  color: white;
}
  
// Submenu icon color change on header select
.ant-menu-item-selected .ant-menu-item-icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(117deg) brightness(107%) contrast(101%);
  transition: filter 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-result-404 {
  .ant-result-title {
    color: white;
  }
  .ant-result-subtitle {
    color: white;
  }
}

.blocked-section {
  .ant-drawer-title {
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  .ant-drawer-header {
    background: #292A37;
  }

  .ant-drawer-content {
    background-color: #292A37;
  }

  .user {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;

    .unblock-btn {
      margin-left: 3px;
    }
  }
}

.trash-option {
  .trash-icon {
    margin-left: 5px;
    margin-bottom: 2px;
  }
}

.block-option {
  .block-icon {
    margin-left: 5px;
    margin-bottom: 2px;
  }
}

.comment-modal {

  .ant-modal-header {
    background-color: #292A37;
  }

  .ant-modal-content {
    background-color: #292A37;
    
    .ant-modal-title {
      color: white;
    }

    .ant-modal-body {
      resize: none;
    }
  }

  .ant-input-textarea-show-count::after {
    float: right;
    color: white;
    
}
}